<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Inicio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale-1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div id="app">
            <input type="text" v-model="nuevaFruta" @keyup.enter="setFruta">
            <button @click="setFruta">agregar</button>
            <!-- <button v-on:click="setFruta">agregar</button> -->
            <h1>{{titulo}}</h1>
        
            <ul>
                <li v-for="fruta of frutas">
                    <input type="number" v-model.number="fruta.cantidad">
                    {{fruta.nombre}}
                    <span v-if="fruta.cantidad === 0"> - sin stok</span>
                    <button @click=fruta.cantidad++>+</button>
                </li>
            </ul>
            <h4>total: {{sumarFrutas}} </h4>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="01.js"></script>
    </body>
</html>